<div class="root">
  <form (ngSubmit)="onSubmit()" #todoForm="ngForm">

    <div *ngIf="model.id !== 0" class="form-item">
      ID: {{model.id}}
    </div>

    <div class="form-item">
      <md-input-container>
        <input mdInput name="title" required placeholder="やること" 
          [(ngModel)]="model.title">
      </md-input-container>
    </div>

    <div class="form-item">
      <md-input-container>
        <input mdInput name="assignee" required placeholder="やるひと" 
          [(ngModel)]="model.assignee"
          [mdAutocomplete]="autoAssignee"
          [formControl]="assigneeFormControl"
        >
      </md-input-container>

      <md-autocomplete #autoAssignee="mdAutocomplete" [displayWith]="displayAssignee">
        <md-option *ngFor="let p of filteredAssignee | async" [value]="p">
            {{ p.name }}
        </md-option>
      </md-autocomplete>
    </div>
    
    <div class="form-item">
      <md-select placeholder="優先度" name="priority" 
        [(ngModel)]="model.priority">
        <md-option [value]="1">高</md-option>
        <md-option [value]="2">中</md-option>
        <md-option [value]="3">低</md-option>        
      </md-select>
    </div>

    <div class="form-item">
      <material-datepicker placeholder="終了予定日" [(date)]="model.deadline"></material-datepicker>
    </div>

    <div class="form-item">
      <md-slide-toggle name="active" [(ngModel)]="model.active">
        有効にする
      </md-slide-toggle>
    </div>

    <div class="form-item">
      <button type="submit" md-raised-button [disabled]="!todoForm.form.valid">
        Submit
      </button>
    </div>
    
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Active</th>
      <th>Priority</th>
      <th>Assignee</th>
      <th>Deadline</th>
  </thead>
  <tbody>
    <tr li *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.active}}</td>
      <td>{{todo.priority}}</td>
      <td>{{todo.assignee.name}}</td>
      <td>{{todo.deadline.toLocaleDateString()}}
      <td><button md-button (click)="onEdit(todo.id)">編集</button></td>
    </tr>
  </tbody>
</table>

